:root {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "tailwindcss";

@theme {
  /* No Tailwind v4, a variável deve começar com --text- para gerar a classe text-* */
  --text-maiuscula: 0.55rem;
  --text-minuscula: 0.8rem;
  
  /* Caso queira definir também a altura da linha (line-height) para essa fonte */
  --text-maiuscula--line-height: 1;
}